@import "reset.less";

//  @GlobalConfig

	// Config supported browsers for your project

	@w3c: true; // Unprefixed W3C syntax
	@webkit: true; // Chrome 7+, Safari 5+, iOS5, Android
	@moz: true; //  Firefox 4+
	@opera: true; // Opera 10.5+
	@ms: true;  // IE 10+
	@oldWebkit: true; // iOS4, Safari 4, Chrome < 6. Old webkit gradient syntax
	
// Signals

	@webkitSignal: 1;
	@mozSignal: 2;
	@operaSignal: 3;
	@msSignal: 4;
	@w3cSignal: 5;

// Structure ================================================================================

	//Absolute expansion on parents dimensions
	.cover-all{ width:100%; height:100%; .abs; left:0; top:0;}

	.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
	.rel{ position:relative;}
	.abs{ position:absolute;}
	.fixed{ position:fixed;}
	.overflow{ overflow:hidden;}
	.block{ display:block;}
	.ib{ display:inline-block;}
	.fl{ float:left;}
	.fr{ float:right;}

//Behaviours =======================================================

	.anchor{ cursor:pointer;}
	.unselectable{ -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;}
	.selectable{ -webkit-user-select:text; -khtml-user-select: text; -moz-user-select: text; -o-user-select: text; user-select: text;}

	.hide, .hidden{ display:none; visibility:hidden;}
	.show, .shown{ display:block; visibility:visible;}


	

// Visuals ================================================================================


	//Color
		//Vars
		@white: #fff;
		  @grey3: #dddddd;
		  @grey2: #b3b3b3;
		  @grey1: #999999;
		@grey: #808080;
		  @grey-3: #202020;
		  @grey-2: #404040;
		  @grey-2: #595959;
		@black: #000;

		@red: #ce3232;
		@green: #a0ce32;
		@ocre: #ffa600;
		@orange: #ff8c00;
		@blue: #3babd4;

		@facebookColor: #3b5998;
		@twitterColor: #33ccff;


		//Mixins
		.white{ color:#fff ;}
		  .grey3{ color:#dddddd ;}
		  .grey2{ color:#b3b3b3 ;}
		  .grey1{ color:#999999 ;}
		.grey{ color:#808080 ;}
		  .grey-3{ color:#202020 ;}
		  .grey-2{ color:#404040 ;}
		  .grey-1{ color:#595959 ;}
		.black{ color:#000 ;}

		.red{ color:#ce3232 ;}
		.green{ color:#a0ce32 ;}
		.orange{ color:#ff8c00 ;}
		.blue{ color:#3babd4 ;}


	//Typography =============================================================

		//Default
		.fs( @size: 1em, @line-height:1, 		@letter-spacing: -0.0)		{ font-size:@size; line-height:@line-height; letter-spacing:@letter-spacing; }
		
		//Custom
		.fs( 10, 		@line-height:1, 		@letter-spacing: -0.0)		{ font-size:10px; line-height:@line-height; letter-spacing:@letter-spacing; }
		.fs( 11, 		@line-height:1, 		@letter-spacing: -0.0)		{ font-size:11px; line-height:@line-height; letter-spacing:@letter-spacing; }
		.fs( 12, 		@line-height:1, 		@letter-spacing: -0.0)		{ font-size:12px; line-height:@line-height; letter-spacing:@letter-spacing; }
		.fs( 13, 		@line-height:1, 		@letter-spacing: -0.0)		{ font-size:12px; line-height:@line-height; letter-spacing:@letter-spacing; }
		.fs( 14, 		@line-height:0.75em,	@letter-spacing: -0.0)		{ font-size:14px; line-height:@line-height; letter-spacing:@letter-spacing; }
		.fs( 16, 		@line-height:0.75em,	@letter-spacing: -0.008em)	{ font-size:16px; line-height:@line-height; letter-spacing:@letter-spacing; }
		.fs( 18, 		@line-height:0.80em,	@letter-spacing: -0.005em)	{ font-size:18px; line-height:@line-height; letter-spacing:@letter-spacing; }
		.fs( 20, 		@line-height:0.80em,	@letter-spacing: -0.025em)	{ font-size:20px; line-height:@line-height; letter-spacing:@letter-spacing; }
		.fs( 22, 		@line-height:0.80em,	@letter-spacing: -0.025em)	{ font-size:22px; line-height:@line-height; letter-spacing:@letter-spacing; }
		.fs( 24, 		@line-height:0.80em,	@letter-spacing: -0.025em)	{ font-size:24px; line-height:@line-height; letter-spacing:@letter-spacing; }
		.fs( 30, 		@line-height:0.90em,	@letter-spacing: -0.025em)	{ font-size:30px; line-height:@line-height; letter-spacing:@letter-spacing; }
		.fs( 34, 		@line-height:0.90em,	@letter-spacing: -0.065em)	{ font-size:34px; line-height:@line-height; letter-spacing:@letter-spacing; }
		.fs( 38, 		@line-height:0.90em,	@letter-spacing: -0.065em)	{ font-size:38px; line-height:@line-height; letter-spacing:@letter-spacing; }

		.bold{ font-weight:bold;}

		.upcase{ text-transform:uppercase;}
		.lowcase{ text-transform:lowercase;}
		.ignorecase{ text-transform:none;}
		.tcenter{ text-align:center;}
		.hyphen{ -hyphens: auto; -moz-hyphens: auto; -webkit-hyphens: auto;}

		// Font stacks
		@serif: "Georgia", Cambria, "Times New Roman", Times, serif;
		@sans-serif: "Helvetica Neue", "HelveticaNeue", helvetica, sans-serif;
		@monospace: Monaco, Consolas, monospace;


	//Icons =============================================================
		.icon-16{ width:16px; height:16px; display:inline-block; background-image:url("../images/sprite.png"); background-repeat:no-repeat; }

	//FX ===================================================================

		//Transformations
		.trans(@params){
			-webkit-transform: @params;
			   -moz-transform: @params;
				-ms-transform: @params;
				 -o-transform: @params;
				    transform: @params;
		}
		//Opacity
		.op( @fade:0.5 ){ @fadePercent: @fade*100;
			-webkit-opacity: @fade;
			   -moz-opacity: @fade;
			     -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=(@{fadePercent}))";
				     filter: ~"alpha(opacity = (@{fadePercent}))";
			        opacity: @fade;
		}
		// Border Radius
		.br( @radius:3px){
			border-radius:@radius;
			-moz-border-radius: @radius;
			-webkit-border-radius: @radius;
		}


		//Text Shadow -- .bs(10px, #000, inset, 10px, 1px )
		.ts( @params){
			-webkit-text-shadow:@params;
			   -moz-text-shadow:@params;
					text-shadow:@params;
		}

		//Box Shadow -- .bs(0px 0px 4px 0px #ffffff; )
		.bs( @params){
			-webkit-box-shadow:@params;
			   -moz-box-shadow:@params;
					box-shadow:@params;
		}
		.bs( @params1, @params2 ){
			@params: @params1, @params2;
			-webkit-box-shadow:@params;
			   -moz-box-shadow:@params;
					box-shadow:@params;
		}
		.bs( @params1, @params2, @params3 ){
			@params: @params1, @params2, @params3;
			-webkit-box-shadow:@params;
			   -moz-box-shadow:@params;
					box-shadow:@params;
		}

		.bg-size( @params ){
			-webkit-background-size:@params;
			   -moz-background-size:@params;
				 -o-background-size:@params;
					background-size:@params;
		}

		//Gradient
		.gradient( @lightColor: #c6ff00, @darkColor: #93bd00, @location: 100% ){
			background:@lightColor; /*Fallback*/
			background:-webkit-linear-gradient(bottom, @darkColor, @lightColor @location); /* for webkit browsers */
			background:-moz-linear-gradient(bottom, @darkColor, @lightColor @location) /* for firefox 3.6+ */;
		}
		.gradient-hor( @baseColor: @orange, @darkColor: darken( @orange, 20% ) ){
				background:@baseColor; /*Fallback*/
				background:-webkit-gradient(linear, left top, right top, from(@baseColor), to(@darkColor)); // for webkit browsers /
				background:-moz-linear-gradient(left, @baseColor, @darkColor);
		}

		.icon-16{ width:16px; height:16px; overflow:hidden; display:inline-block; vertical-align:top; background-image:url("../images/sprite.png"); background-repeat: no-repeat; text-indent:-9999px;}

		/*== TRANSITIONS ==*/
		.anim(@speed: 100ms, @speedHover: 0ms, @function: linear){
			-webkit-transition-property:all;   -webkit-transition-duration: @speed;    -webkit-transition-timing-function: @function;
		 	   -moz-transition-property:all;      -moz-transition-duration: @speed;       -moz-transition-timing-function: @function;
		 	    -ms-transition-property:all;       -ms-transition-duration: @speed;        -ms-transition-timing-function: @function;
		 	     -o-transition-property:all;        -o-transition-duration: @speed;         -o-transition-timing-function: @function;
		 	        transition-property:all;           transition-duration: @speed;            transition-timing-function: @function;

			&:hover{
				-webkit-transition-property:all; -webkit-transition-duration: @speed+@speedHover+50; -webkit-transition-timing-function: @function;
				   -moz-transition-property:all; -webkit-transition-duration: @speed+@speedHover+50; -webkit-transition-timing-function: @function;
					-ms-transition-property:all;     -ms-transition-duration: @speed+@speedHover+50;     -ms-transition-timing-function: @function;
					 -o-transition-property:all;      -o-transition-duration: @speed+@speedHover+50;      -o-transition-timing-function: @function;
						transition-property:all;         transition-duration: @speed+@speedHover+50;         transition-timing-function: @function;
			}
		}
		
	//Clearfix
	.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 }
	.clearfix:after { clear: both; }
	.clearfix { zoom: 1; }

	.background-image(...){

	    //  Local config for disabling properties

	    @svg: true; //  SVG gradient for IE9
	    @mozLocal: true; //  Firefox 4+
	    @oldWebkitLocal: true; // Chrome 7+, Safari 5+, iOS5, Android
	    @webkitLocal: true; // Chrome 7+, Safari 5+, iOS5, Android
	    @operaLocal: true; // Opera 10.5+
	    @w3cLocal: true; // Unprefixed W3C syntax
	    
	    @backgroundSVG: ~`(function(){function G(a){var b="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",c,d,e,f,g,h,i,j,k=0,l=0,m="",n=[];if(!a)return a;do c=a.charCodeAt(k++),d=a.charCodeAt(k++),e=a.charCodeAt(k++),j=c<<16|d<<8|e,f=j>>18&63,g=j>>12&63,h=j>>6&63,i=j&63,n[l++]=b.charAt(f)+b.charAt(g)+b.charAt(h)+b.charAt(i);while(k<a.length);m=n.join("");var o=a.length%3;return(o?m.slice(0,o-3):m)+"===".slice(o||3)}String.prototype.trim===undefined&&(String.prototype.trim=function(){return this.replace(/^\s+/,"").replace(/\s+$/,"")});var a="@{arguments}",b=null,c=!0,d=a.split(/,(?=\s*(?:linear|radial))/g),e=d.length,f=/top/,g=/right/,h=/bottom/,i=/left/,j=/to\s*top/,k=/to\s*right/,l=/to\s*bottom/,m=/to\s*left/,n=/45deg/,o=/-45deg/,p=/\d*deg/;for(var q=0;q<e;q++){if(/linear/.test(d[q])){d[q]=d[q].replace(/linear-gradient\s*\(/,'<?xml version="1.0" ?><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1 1" preserveAspectRatio="none">');if(f.test(d[q])&&!j.test(d[q])||l.test(d[q])||/180deg/.test(d[q])){var r=null;l.test(d[q])?r=l:/180deg/.test(d[q])?r=/180deg/:r=f,d[q]=d[q].replace(r,'<linearGradient id="grad-ucgg-generated" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="0%" y2="100%">')}else if(g.test(d[q])&&!k.test(d[q])||m.test(d[q])||/270deg/.test(d[q])){var r=null;m.test(d[q])?r=m:/270deg/.test(d[q])?r=/270deg/:r=g,d[q]=d[q].replace(r,'<linearGradient id="grad-ucgg-generated" gradientUnits="userSpaceOnUse" x1="100%" y1="0%" x2="0%" y2="0%">')}else if(h.test(d[q])&&!l.test(d[q])||j.test(d[q])||/[^\d]0deg/.test(d[q])){var r=null;j.test(d[q])?r=j:/0deg/.test(d[q])?r=/0deg/:r=h,d[q]=d[q].replace(r,'<linearGradient id="grad-ucgg-generated" gradientUnits="userSpaceOnUse" x1="0%" y1="100%" x2="0%" y2="0%">')}else if(i.test(d[q])&&!m.test(d[q])||k.test(d[q])||/90deg/.test(d[q])){var r=null;k.test(d[q])?r=k:/90deg/.test(d[q])?r=/90deg/:r=i,d[q]=d[q].replace(r,'<linearGradient id="grad-ucgg-generated" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="100%" y2="0%">')}else n.test(d[q])&&!o.test(d[q])?d[q]=d[q].replace(n,'<linearGradient id="grad-ucgg-generated" gradientUnits="userSpaceOnUse" x1="0%" y1="100%" x2="100%" y2="0%">'):o.test(d[q])?d[q]=d[q].replace(o,'<linearGradient id="grad-ucgg-generated" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="100%" y2="100%">'):c=!1}try{"".trim(),b=!0}catch(s){b=!1}b&&(d[q]=d[q].trim());if(/linear/.test(d[q])||/radial/.test(d[q])){d[q]=d[q].slice(0,-1),d[q]="url(data:image/svg+xml;base64--"+d[q]+'</linearGradient><rect x="0" y="0" width="1" height="1" fill="url(***)" /></svg>)';var t=d.join("@@@"),u=t.match(/rgba?\(\d+,\s*\d+,\s*\d+,\s*(?:0|1|\.\d+|0\.\d+)\)\s*\d*%*/g)||0,v=t.match(/hsla?\(\d+,\s*\d+%,\s*\d+%,\s*(?:0|1|\.\d+|0\.\d+)\)\s*\d*%*/g)||0,w=[],x=[];for(var y=0;y<u.length;y++)w[y]=u[y].replace(/,/g,"--");for(var z=0;z<v.length;z++)x[z]=v[z].replace(/,/g,"--");for(var A=0;A<u.length;A++)t=t.replace(u[A],w[A]);for(var B=0;B<v.length;B++)t=t.replace(v[B],x[B]);var C=t.split(",");for(var D=0;D<C.length;D++){C[D]=C[D].replace(/(#\w{3,6})\s*(\d*.?\d*%)/g,'<stop offset="$2" stop-color="$1" stop-opacity="1"/>').replace(/(rgba?\(\d+--\s*\d+--\s*\d+--\s*(0|1|\.\d+|0\.\d+)\))\s*(\d*.?\d*%)*/g,'<stop offset="$3" stop-color="$1" stop-opacity="$2"/>').replace(/rgba/g,"rgb").replace(/(hsla?\(\d+--\s*\d+%--\s*\d+%--\s*(0|1|\.\d+|0\.\d+)\))\s*(\d*.?\d*%)*/g,'<stop offset="$3" stop-color="$1" stop-opacity="$2"/>').replace(/hsla/g,"hsl").replace(/((?:aqua|black|blue|fuchsia|gray|grey|green|lime|maroon|navy|olive|purple|red|silver|teal|white|yellow))\s*(\d*%)*/g,'<stop offset="$2" stop-color="$1" stop-opacity="1"/>').replace(/\*\*\*/,"#grad-ucgg-generated");try{"".trim(),b=!0}catch(s){b=!1}b&&(C[D]=C[D].trim())}C=C.toString().replace(/,/g,"").replace(/--/g,",").replace(/(rgb?\(\d+,\s*\d+,\s*\d+),\s*(?:0|1|\.\d+|0\.\d+)\)/g,"$1)").replace(/(hsl?\(\d+,\s*\d+%,\s*\d+%),\s*(?:0|1|\.\d+|0\.\d+)\)/g,"$1)")}}/radial/.test(C)&&(/((ellipse).*(center)|(circle).*(center))/g.test(C)?C=C.replace(/<\/linearGradient>/g,"</radialGradient>").replace(/radial-gradient[^<]+/g,'<?xml version="1.0" ?><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1 1" preserveAspectRatio="none"><radialGradient id="grad-ucgg-generated" gradientUnits="userSpaceOnUse" cx="50%" cy="50%" r="75%">').replace(/<rect x=\S+\d\S+ y=\S+\d\S+ width=\S+\d\S+ height=\S+\d\S+ fill=\S+\w\S+ \/>/g,'<rect x="-50" y="-50" width="101" height="101" fill="url(#grad-ucgg-generated)" />'):C=!1);var E=null;try{C=C.split("@@@");var F=0;for(F;F<C.length;F++)E=C[F].match(/<\?xml.*<\/svg>/),E=G(E.join("")),C[F]=C[F].replace(/(<\?xml.*<\/svg>)/,E)}catch(s){}return c?C:C=!1,C?C.toString():C}())`;
	    @backgroundMoz: ~`(function(){var a,b,c,d,e,f,g,h,i,j,k;a="@{arguments}",c=null,d=a.split(/,(?=\s*(?:linear|radial))/g),e=d.length,k=/to\s*top/,j=/to\s*right/,h=/to\s*bottom/,i=/to\s*left/,b=/\d*deg/,f=0;while(f<e){/linear/.test(d[f])?(d[f]=d[f].replace(/linear-gradient/,"-moz-linear-gradient"),k.test(d[f])?d[f]=d[f].replace(k,"bottom"):j.test(d[f])?d[f]=d[f].replace(j,"left"):h.test(d[f])?d[f]=d[f].replace(h,"top"):i.test(d[f])?d[f]=d[f].replace(i,"right"):b.test(d[f])&&(g=d[f].match(/\d*deg/),g=(parseInt(g)-90)*-1+"deg",d[f]=d[f].replace(b,g))):d[f]=d[f].replace(/radial-gradient/,"-moz-radial-gradient").replace(/,\s* \d*(px|%) \d*(px|%)/,", circle").replace(/\(+\s*(.*) at\s*([^,]+)/g,"($2, $1");try{"".trim(),c=!0}catch(l){c=!1}c&&(d[f]=d[f].trim()),f++}return d.toString().replace(/\[/g,"").replace(/\]/g,"");}())`;
	    @backgroundOldWebkit: ~`(function(){var a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,A,B,C;a="@{arguments}",g=null,f=!0,i=a.split(/,(?=\s*(?:linear|radial))/g),j=i.length,C=/top/,v=/right/,c=/bottom/,p=/left/,B=/to\s*top/,A=/to\s*right/,y=/to\s*bottom/,z=/to\s*left/,d=/45deg/,e=/-45deg/,b=/\d*deg/,m=0;while(m<j){/linear/.test(i[m])&&(i[m]=i[m].replace(/linear-gradient\s*\(/,"-webkit-gradient(linear, "),C.test(i[m])&&!B.test(i[m])||y.test(i[m])||/180deg/.test(i[m])?(w=null,y.test(i[m])?w=y:/180deg/.test(i[m])?w=/180deg/:w=C,i[m]=i[m].replace(w,"left top, left bottom")):v.test(i[m])&&!A.test(i[m])||z.test(i[m])||/270deg/.test(i[m])?(w=null,z.test(i[m])?w=z:/270deg/.test(i[m])?w=/270deg/:w=v,i[m]=i[m].replace(w,"right top, left top")):c.test(i[m])&&!y.test(i[m])||B.test(i[m])||/[^\d]0deg/.test(i[m])?(w=null,B.test(i[m])?w=B:/0deg/.test(i[m])?w=/0deg/:w=c,i[m]=i[m].replace(w,"left bottom, left top")):p.test(i[m])&&!z.test(i[m])||A.test(i[m])||/90deg/.test(i[m])?(w=null,A.test(i[m])?w=A:/90deg/.test(i[m])?w=/90deg/:w=p,i[m]=i[m].replace(w,"left top, right top")):d.test(i[m])&&!e.test(i[m])?i[m]=i[m].replace(d,"left bottom, right top"):e.test(i[m])?i[m]=i[m].replace(e,"left top, right bottom"):f=!1),x=i.toString(),t=x.match(/rgba?\(\d+,\s*\d+,\s*\d+,\s*(?:0|1|\.\d+|0\.\d+)\)\s*\d*%*/g)||0,k=x.match(/hsla?\(\d+,\s*\d+%,\s*\d+%,\s*(?:0|1|\.\d+|0\.\d+)\)\s*\d*%*/g)||0,u=[],l=[],n=0;while(n<t.length)u[n]=t[n].replace(/,/g,"--"),n++;r=0;while(r<k.length)l[r]=k[r].replace(/,/g,"--"),r++;o=0;while(o<t.length)x=x.replace(t[o],u[o]),o++;s=0;while(s<k.length)x=x.replace(k[s],l[s]),s++;h=x.split(","),q=0;while(q<h.length){h[q]=h[q].replace(/(#\w{3,6})\s*(\d*%*)/g,"color-stop($2,$1)").replace(/(rgba?\(\d+--\s*\d+--\s*\d+--\s*(?:0|1|\.\d+|0\.\d+)\))\s*(\d*%)*/g,"color-stop($2,$1)").replace(/(hsla?\(\d+--\s*\d+%--\s*\d+%--\s*(?:0|1|\.\d+|0\.\d+)\))\s*(\d*%)*/g,"color-stop($2,$1)").replace(/--/g,",").replace(/((?:aqua|black|blue|fuchsia|gray|grey|green|lime|maroon|navy|olive|purple|red|silver|teal|white|yellow))\s*(\d*%)*/g,"color-stop($2,$1)");try{"".trim(),g=!0}catch(D){g=!1}g&&(h[q]=h[q].trim()),q++}m++}return/radial/.test(h)&&(/((ellipse).*(center)|(circle).*(center))/g.test(h)&&/color-stop\(\s*\d*%/g.test(h)?h=h.join(",").replace(/radial-gradient\(.*?color/g,"-webkit-gradient(radial, center center, 0px, center center, 100%, color"):h=!1),f?h:h=!1,h?h.toString().replace(/\[/g,"").replace(/\]/g,""):h}())`;
	    @backgroundWebkit: ~`(function(){var a,b,c,d,e,f,g,h,i,j,k;a="@{arguments}",c=null,d=a.split(/,(?=\s*(?:linear|radial))/g),e=d.length,k=/to\s*top/,j=/to\s*right/,h=/to\s*bottom/,i=/to\s*left/,b=/\d*deg/,f=0;while(f<e){/linear/.test(d[f])?(d[f]=d[f].replace(/linear-gradient/,"-webkit-linear-gradient"),k.test(d[f])?d[f]=d[f].replace(k,"bottom"):j.test(d[f])?d[f]=d[f].replace(j,"left"):h.test(d[f])?d[f]=d[f].replace(h,"top"):i.test(d[f])?d[f]=d[f].replace(i,"right"):b.test(d[f])&&(g=d[f].match(/\d*deg/),g=(parseInt(g)-90)*-1+"deg",d[f]=d[f].replace(b,g))):d[f]=d[f].replace(/radial-gradient/,"-webkit-radial-gradient").replace(/\(+\s*(.*) at\s*([^,]+)/g,"($2, $1");try{"".trim(),c=!0}catch(l){c=!1}c&&(d[f]=d[f].trim()),f++}return d.toString().replace(/\[/g,"").replace(/\]/g,"");}())`;
	    @backgroundOpera: ~`(function(){var a,b,c,d,e,f,g,h,i,j,k;a="@{arguments}",c=null,d=a.split(/,(?=\s*(?:linear|radial))/g),e=d.length,k=/to\s*top/,j=/to\s*right/,h=/to\s*bottom/,i=/to\s*left/,b=/\d*deg/,f=0;while(f<e){/linear/.test(d[f])?(d[f]=d[f].replace(/linear-gradient/,"-o-linear-gradient"),k.test(d[f])?d[f]=d[f].replace(k,"bottom"):j.test(d[f])?d[f]=d[f].replace(j,"left"):h.test(d[f])?d[f]=d[f].replace(h,"top"):i.test(d[f])?d[f]=d[f].replace(i,"right"):b.test(d[f])&&(g=d[f].match(/\d*deg/),g=(parseInt(g)-90)*-1+"deg",d[f]=d[f].replace(b,g))):d[f]=d[f].replace(/radial-gradient/,"-o-radial-gradient").replace(/\(+\s*(.*) at\s*([^,]+)/g,"($2, $1");try{"".trim(),c=!0}catch(l){c=!1}c&&(d[f]=d[f].trim()),f++}return d.toString().replace(/\[/g,"").replace(/\]/g,"");})()`;
	    @backgroundW3C: ~`(function(){var a,b,c,d,e;a="@{arguments}",b=null,c=a.split(/,(?=\s*(?:linear|radial))/g),d=c.length,e=0;while(e<d){try{"".trim(),b=!0}catch(f){b=!1}b&&(c[e]=c[e].trim()),e++}return c.toString().replace(/\[/g,"").replace(/\]/g,"");}())`;

	    .result(@arguments, @boolean, @localBoolean) when (@boolean = true) and (@localBoolean = true) { background-image: @arguments; }
	    .result(@arguments, @boolean, @localBoolean) when not (@boolean = true), not (@localBoolean = true) { }
	    .result(@arguments, @boolean, @localBoolean, @property) when (@boolean = true) and (@localBoolean = true) and (isstring(@property)) { background-image: @arguments; }
	    .result(@arguments, @boolean, @localBoolean, @property) when not (@boolean = true), not (@localBoolean = true), not (isstring(@property)) { }

	    .result(@backgroundSVG, @svg, @svg, @backgroundSVG);
	    // --  this comment must be here because of LESS bug
	    .result(@backgroundMoz, @moz, @mozLocal);
	    // --
	    .result(@backgroundOldWebkit, @oldWebkit, @oldWebkitLocal, @backgroundOldWebkit);
	    // --
	    .result(@backgroundWebkit, @webkit, @webkitLocal);
	    // --
	    .result(@backgroundOpera, @opera, @operaLocal);
	    // --
	    .result(@backgroundW3C, @w3c, @w3cLocal);
	}
