//Tech Meta
meta( http-equiv="Content-Type", content="text/html; charset=utf-8" )
meta( http-equiv="X-UA-Compatible", content="IE=7")
meta( name="viewport", content="width=device-width, initial-scale=1.0")

//Basic Meta
title WebsiteApp Title
meta( name="description", content="WebsitApp Description")
meta( name="keywords", content="Keyword1, keyword 2")
	
//Facebook Meta
meta( property="og:title", 		content="WebsiteApp" )
meta( property="og:site_name", 	content="WebsiteApp" )
meta( property="og:description", content="Website App Description" )
meta( property="og:image", content="http://imageUrl.jpg" )
meta( property="og:url", content="http://websiteAppURL.com" )
meta( property="og:type", content="website" )